.hero__section {
  background-color: #96A4DD;

  .hero__content {
    h2 {
      font-size: 2.8rem;
      font-weight: 600;
      margin: 10px 0 5px 0;
    }

    p {
      color: #111;
      line-height: 20px;
      font-size: 0.9rem;

      &:nth-child(1) {
        font-weight: 500;
      }
    }

    .buy__btn {
      outline: none;
      background: transparent;
      padding: 10px 22px;
      border-radius: 5px;
      font-size: 1rem;
      text-transform: uppercase;
      transition: background 0.3s ease;

      &:hover {
        color: white;
        background-color: black;
        scale: 1.1;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  
  .hero__content {

    h2 {
      font-size: 2rem !important;
      margin: 5px 0 !important;
    }

    .buy__btn {
      font-size: .9rem !important;
    }
  }

  .section__title {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 576px) {

  .section__title {
    font-size: 1.6rem;
  }
}


