.header {
  width: 100%;
  height: 70px;
  line-height: 70px;

  .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      text-transform: uppercase;
      font-style: italic;
      align-items: center;

      h1 {
        letter-spacing: 2px;
        font-weight: 900;
        font-size: 3.2rem;
      }
    }

    .menu {
      display: flex;
      align-items: center;
      column-gap: 2.8rem;
      text-transform: uppercase;

      .nav__item {
        cursor: pointer;
        font-size: 1.3rem;
        letter-spacing: 1px;
        transition: all 0.1s ease;

        &:hover {
          font-weight: 600;
          scale: 1.1;
        }
      }
    }

    .nav__icons {
      display: flex;
      align-items: center;
      column-gap: 1.3rem;
      font-size: 1.3rem;
      cursor: pointer;

      .fav__icon,
      .cart__icon {
        position: relative;
      }

      .badge {
        content: '';
        position: absolute;
        top: 25%;
        right: -7px;
        width: 17px;
        height: 17px;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: red;
        color: white;
        border-radius: 50%;
        font-size: 0.7rem;
        font-weight: 500;
      }

      .nav__mobile {
        display: none;
      }
    }
  }
}

.nav__active {
  font-weight: 600;
}

.stick__header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: white;
}

@media only screen and (max-width: 768px) {
  .nav__mobile {
    display: block !important;
  }

  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }

  .logo h1 {
    font-size: 1.8rem !important;
    
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    transform: translateX(100%);
    transition: transform 0.8s ease;

    .menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      background: white;
      z-index: 999;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 8px 20px #111;
    }
  }

  .active__menu {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 576px) {


  .menu {
    width: 250px !important;
  }
}
